.abfisttopic {
  height: 38px;
  width: fit-content;

  border-radius: nullpx;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #151557f2;
  margin-left: auto;
  margin-right: auto;
  color: #151557;
}
.abflex1 {
  display: flex;
  flex-direction: column;
  justify-self: start;
  padding: 10px;
}
.Tleft {
}
.abFimage {
}
.smallscreentext {
  display: none;
}
.smallscreentext2 {
  display: none;
}
.fft {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 14px;
}
.fftFlex {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.fit2 {
  display: none;
}
.fit3 {
  display: none;
}
.p2ptxt {
  height: 108px;
  width: 319px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #151557;
}
.p2pimg {
  height: 270px;
  width: 270px;
}
.p2ph {
  /* height: 38px;
  width: 260px; */
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700px;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #151557;
}
/* .drow {
  display: flex;
  flex-direction: row;
  height: auto;
} */
.ablbg {
  background: linear-gradient(99.51deg, #195198 24.41%, #240300 100%);
  border-radius: 20px;
}
.rowflex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.knowBtn {
  cursor: pointer;
}
/* mobile */
@media screen and (max-width: 640px) {
  .knowBtn {
    height: 27.57575798034668px;
    width: 91px;
    border-radius: 8.997175216674805px;
    background: #ffffff;
    font-family: Poppins;
    font-size: 9px;
    font-weight: 600;
    line-height: 9px;
    letter-spacing: 0em;
    text-align: center;
    color: #151557;
    margin-top: 35px;
    padding-top: 10px;
  }
  .tp {
    height: 81px;
    width: 217px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #ffffff;
  }
  .rowflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .gh {
    height: 44.643150329589844px;
    width: 235.56277465820312px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;

    color: #ffffff;
  }
  .sale1Image {
    height: 119.63103485107422px;
    width: 124px;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .tfimage {
    height: 250.61660766601562px;
    width: 177px;
    border-radius: 0px;
    margin-top: auto;
  }
  .tftl > h3 {
    font-size: 26px;
    font-weight: 400px;
    height: fit-content;
  }
  .tftl {
    min-height: 86px;
    height: fit-content;
    width: 241px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 200px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #ffffff;
  }
  .moveimage {
    height: 250.61660766601562px;
    width: 177px;
  }
  .move {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-align: left;
    height: 76px;
    width: 341px;
    color: #ffffff;
  }
  .p2ptxt {
    height: auto;
    width: auto;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #151557;
  }
  .p2pimg {
    height: 270px;
    width: 270px;
  }
  .p2ph {
    /* height: 38px;
    width: 260px; */
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700px;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #151557;
  }
  .fit3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: justified;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
    height: 54px;
    width: 363px;
    padding: 10px;
    display: block;
  }
  .fit2 {
    height: 211px;
    width: 239px;
    left: 125px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: justified;
    color: #ffffff;
    display: block;
  }
  .fit {
    display: none;
  }
  .looking {
    height: 297px;
    width: 190.41114807128906px;
  }
  .smallscreentext2 {
    height: 76px;
    width: auto;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #151557;
    display: block;
    margin-left: auto;
    padding: 10px;
    margin-right: auto;
  }
  .smallscreentext {
    display: block;
    height: auto;
    width: 188px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #151557;
  }
  .abFimage {
    height: 176.5454559326172px;
    width: 161.8333282470703px;
    border-radius: 0px;
    margin-left: auto;
  }
  .abflex1 {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .Tleft {
    display: none;
  }
  .abfisttopic {
    height: 38px;
    width: fit-content;
    text-align: center;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #151557f2;
    margin-left: auto;
    margin-right: auto;
  }
  .fft {
    height: 66.13953399658203px;
    width: 292.37384033203125px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
  }
}

/* medum */

@media screen and (max-width: 1007px) and (min-width: 641px) {
  .knowBtn {
    height: 40.212120056152344px;
    width: 140.6999969482422px;
    border-radius: 13.12005615234375px;
    background: #ffffff;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    text-align: center;
    color: #151557;
    margin-bottom: 35px;
    padding-top: 10px;
    
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }
  .tp {
    height: 61.907997131347656px;
    width: 359.8979797363281px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #ffffff;
  }
  .rowflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .gh {
    height: 72px;
    width: 370px;
    font-family: Poppins;
    font-size: 27px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #ffffff;
  }
  .sale1Image {
    height: 180.64198303222656px;
    width: 200.97000122070312px;
    border-radius: 0px;
  }
  .tfimage {
    height: 399.2875061035156px;
    width: 282px;
    border-radius: 0px;
  }
  .tftl > h3 {
    font-size: 32px;
    font-weight: 700px;
  }
  .tftl {
    /* height: 313px; */
    height: fit-content;
    width: 404px;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700px;
    line-height: 49px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #ffffff;
    /* font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.02em;
text-align: left;

font-family: Poppins;
font-size: 23px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: left; */
  }
  .moveimage {
    height: 399.2875061035156px;
    width: 282px;
  }
  .move {
    font-family: Poppins;
    font-size: 47px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 0.02em;
    text-align: left;
    height: 142px;
    width: 669px;
    color: #ffffff;
  }
  .p2pimg {
    height: 323px;
    width: 323px;
  }
  .p2ph {
    height: 68px;
    width: 395px;
    font-family: Poppins;
    font-size: 47px;
    font-weight: 700px;
    line-height: 71px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #151557;
  }
  .fit {
    margin-top: 14px;
    height: 298px;
    width: 464px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: justified;
    color: #ffffff;
  }
  .looking {
    height: 418.6940612792969px;
    width: 268.4309997558594px;
  }
  .fft {
    height: 121px;
    width: 464px;
    font-family: Poppins;
    font-size: 47px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #ffffff;
  }
  .abFimage {
    height: 286.6360778808594px;
    width: 262.7497253417969px;
    border-radius: 0px;
    margin-left: auto;
  }
  .abflex1 {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .Tleft {
    height: 239px;
    width: 484px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #151557;
  }
  .abfisttopic {
    height: 71px;
    width: fit-content;
    font-family: Poppins;
    font-size: 47px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #151557f2;
    margin-left: auto;
    margin-right: auto;
  }
  .p2ptxt {
    height: 328px;
    width: 407px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #151557;
  }
}

/* big */
@media screen and (min-width: 1008px) {
  .knowBtn {
    height: 107.2727279663086px;
    width: 354px;
    border-radius: 35px;
    background: #ffffff;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #151557f2;
    font-family: Poppins;
    padding-top: 40px;
    font-size: 24px;
    font-weight: 500px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }
  .tp {
    height: 134px;
    width: 779px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #ffffff;
  }
  .rowflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .gh {
    height: 157.54922485351562px;
    width: 892.2832641601562px;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700px;
    line-height: 72px;
    letter-spacing: 0.01em;
    text-align: left;

    color: #ffffff;
  }
  .sale1Image {
    height: 391px;
    width: 435px;
    border-radius: 0px;
  }
  .tfimage {
    height: 715px;
    width: 504.9744567871094px;
    border-radius: 0px;
  }
  .tftl > h3 {
    font-weight: 700px;
    font-size: 48px;
  }
  .tftl {
    height: 651px;
    width: 735px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400px;
    line-height: 70px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #ffffff;
  }
  .moveimage {
    height: 715px;
    width: 504.9744567871094px;
  }
  .move {
    font-family: Poppins;
    font-size: 87px;
    font-weight: 700;
    line-height: 131px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #ffffff;
    height: 262px;
    width: 1208px;
    left: 133px;
  }
  .p2ptxt {
    height: 716px;
    width: 732px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #151557;
  }
  .p2pimg {
    height: 698px;
    width: 698px;
  }
  .p2ph {
    height: 131px;
    width: 732px;
    font-family: Poppins;
    font-size: 87px;
    font-weight: 700;
    line-height: 131px;
    letter-spacing: 0.02em;
    text-align: left;

    color: #151557;
  }
  .fit {
    height: 647px;
    padding-top: 14px;
    width: 931px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0.02em;
    text-align: justified;
    color: #ffffff;
  }
  .looking {
    height: 861px;
    width: 552px;
  }
  .abflex1 {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .abFimage {
    height: 597.8181762695312px;
    width: 528px;
    margin-left: auto;
  }
  .Tleft {
    height: 504px;
    width: 958px;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 400px;
    line-height: 63px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #151557;
  }
  .abfisttopic {
    height: 131px;
    width: fit-content;
    text-align: center;
    border-radius: nullpx;
    font-family: Poppins;
    font-size: 87px;
    font-weight: 700;
    line-height: 131px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #151557f2;
    margin-left: auto;
    margin-right: auto;
  }
  .fft {
    height: 214px;
    width: 946px;
    font-family: Poppins;
    font-size: 85px;
    font-weight: 700;
    line-height: 128px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #ffffff;
  }
}
